body {
    margin: 0;
}

#verify-email {
    min-height: 100vh;
    max-height: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f3f4f6;
}

.icon {
    width: 30px;
    height: 30px;
}

.icon svg {
    fill: currentColor;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin: 0 auto;
    width: 50%;
    border-radius: 12px;
    margin-top: 1rem;
    font-size: 1.5rem;
    padding: 1.25rem 0;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 5px 12px 8px rgba(0, 0, 0, 0.2);
}

.content-message {
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
}

.danger {
    color: #dc2626;
}

.success {
    color: #16a34a;
}

.warning {
    color: #ca8a04;
}
